@tailwind base;
@tailwind components;
@tailwind utilities;

/* It's supposed to look like a tree diagram */
.tree, .tree ul, .tree li {
    @apply list-none m-0 p-0 relative;
}

.tree {
    @apply text-center;
    margin: 0 0 1em;
}
.tree, .tree ul {
    @apply table;
}
.tree ul {
    @apply w-full;
}
    .tree li {
        @apply table-cell;
        padding: .5em 0;
        vertical-align: top;
    }
        /* _________ */
        .tree li:before {
            outline: solid 1px #666;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
        .tree li:first-child:before {left: 50%;}
        .tree li:last-child:before {right: 50%;}

        .tree div.box {
            @apply bg-white;
            border: solid .1em #666;
            border-radius: .2em;
            display: inline-block;
            margin: 0 1em .5em;
            padding: .2em .5em;
            position: relative;
            min-width: 12em;
        }
        /* If the tree represents DOM structure */
            /* | */
            .tree ul:before,
            .tree div.box:before {
                outline: solid 1px #666;
                content: "";
                height: .5em;
                left: 50%;
                position: absolute;
            }
            .tree ul:before {
                top: -.5em;
            }
            .tree div.box:before {
                top: -.55em;
            }

/* The root node doesn't connect upwards */
.tree > li {margin-top: 0;}
    .tree > li:before,
    .tree > li:after,
    .tree > li > div.box:before {
      outline: none;
    }
